
body{
	font-family: Arial, Helvetica, sans-serif;
}

.windows {
	width: 450px;
	height: 720px;
	 background: linear-gradient(to bottom right,#666666,#000);
	margin: 0 auto;
	border-radius: 10px;
	margin-top: 100px;

}

.windows__calculator {
	max-width: 400px;
	margin: 0 auto;
}

.calculator__p{
	text-align: center;
	color: #9d9d9d;
	padding: 20px 0px 0px 0px;
	font-size: 25px;
	text-shadow: 1px 2px 3px black;
}


.calculator__tablo {
	width: 400px;
	height: 100px;
	background: radial-gradient(#666666,#000);
	border-radius: 10px;
	margin: 0 auto ;
	margin: 20px 0;
	box-shadow:inset -3px -3px 1px #686868 ;
	
}

.calculator__buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
 	grid-template-rows: 1fr 1fr;

	justify-items: center;
	color: white;

	font-size: 30px ;
	
}

.calculator__buttons div {
	display: flex;
   align-items: center;
   justify-content: center;
	
	width: 97px;
	height: 97px;
	margin: 1px;
	border-radius: 6px;
}

div .windown__button-1 {
	background-color: #8e4113;
}

.windown__button-2, .windown__button-3, .windown__button-4, .windown__button-8, .windown__button-12, .windown__button-16, .windown__button-17, .windown__button-19 {
	background-color: #556a2f;
}


.windown__button-5,.windown__button-6,.windown__button-7,.windown__button-9,.windown__button-10,.windown__button-11,.windown__button-13,.windown__button-14,.windown__button-15,.windown__button-18 {
	background-color: #45532f;;
}

.windown__button-20 {
	background-color: #008d9f;
}